# Copyright (c) 2026 Silicon Signals Pvt. Ltd.
#
# SPDX-License-Identifier: Apache-2.0

config LV_Z_NEMA_GFX
	bool "LVGL Zephyr NemaGFX support"
	select LV_USE_NEMA_GFX
	imply FPU

if LV_Z_NEMA_GFX

choice LV_USE_NEMA_HAL
	default LV_NEMA_HAL_CUSTOM
endchoice

choice LV_USE_NEMA_LIB
	default LV_NEMA_LIB_M33_REVC if CPU_CORTEX_M33
	default LV_NEMA_LIB_M55 if CPU_CORTEX_M55
	default LV_NEMA_LIB_M7 if CPU_CORTEX_M7
endchoice

config LV_Z_NEMA_GFX_MULTI_THREAD
	bool "Multi-thread support for NemaGFX"
	default n

config LV_Z_NEMA_HAL_RING_SIZE
	int "NemaGFX ring size"
	default 1024
	help
	  Size of the NemaGFX command ring.

endif # LV_Z_NEMA_GFX
